.body-container
{
   width: 100%;
    
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    height: 100%;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.faq
{
    width: 100%;
    display: flex;
    justify-content: center;

}
.row .faq
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display: block;
}
